section{
    div{
        position: relative;
        img#plane{
            position: absolute;
            margin-top: -700px;
        }
    }
}
#plane{
    transition: all 2s infinite;
    animation: infinite;
    
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 5s;
   
@keyframes move{
        // 0% { 
        //     background-image: url(../Images/plane_PNG5241.png);
        //      left: 0px; right: 1000px;
        // }
        // 0% {
        //     background-image: url(../Images/plane_PNG5241.png);
        //     left: 500px; right: 500%;
        
        100% { 
            background-image: url(../Images/plane_PNG5241.png);
            left: 0px; right: 1000px;
        }

}}